.footer {
	&__body {
		padding: 20px 0 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__text {
		font-size: 12px;
		margin-bottom: 20px;
	}

	&__company {
		margin-bottom: 8px;
	}
	&__link {
		text-decoration: underline;
		color: #278aff;
	}
	&-nav {
		font-size: 12px;
		li {
			margin-bottom: 10px;
			&:not(:last-child) {
				margin-right: 18px;
			}
		}
	}
}
