.arrow {
	position: absolute;
	right: 0;
	top: 30px;
	height: 40px;
	button {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: #ffffff;
		background-position: 50%;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: background-color 0.25s;
		&:hover {
			background-color: #f8f6f7;
		}
	}
	&-prev {
		background-image: url("../img/arrow/prev.png");
		margin-right: 16px;
	}
	&-next {
		background-image: url("../img/arrow/next.png");
	}
}
